.custom-link {
  text-align: center;
  .link-text {
    color: #0070f2;
    cursor: pointer;
    display: inline-block;
  }
}


.nav-tabs {
  padding-bottom: 6px;
  border-bottom: 2px solid #f5f6f7;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 41px;

  .nav-link.active {
    color: #0070f2;
    position: relative;
  }

  .nav-link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #5b738b;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }

  .nav-link.active:after {
    position: absolute;
    content: "";
    display: block;
    background: #0070f2;
    height: 2px;
    width: 100%;
    bottom: -8px;
  }

  .nav-link.active:after {
    position: absolute;
    content: "";
    display: block;
    background: #0070f2;
    height: 2px;
    width: 100%;
    bottom: -8px;
  }
}
